@mixin section-display {
    width: 100%;
    max-width: 992px;
    margin: auto;
    padding: 1rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vh;
}

.container {
    @include section-display();
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instagram-img img {
    width: 500px;
    height: auto;
}

.form-instagram {
    max-width: 290px;
    .formulario {
        width: 355px;
        font-size: 0.8rem;
        .img-instagram-logo {
            max-width: 200px;
            display: block;
            margin: 0 auto;
            margin-top: 2rem;
            margin-bottom: 2rem;
        }
        .form {
            flex: 1;
            padding: 0px;
            max-width: 275px;
            margin: 0 auto;
            text-align: center;
            input {
                height: 10px;
                border-radius: 0.15rem;
                display: block;
                margin: 0 auto;
                background-color: #FAFAFA;
                box-shadow: none;
            }
            label {
                padding: 0.5rem;
                color: #737373;
                font-size: 0.75rem;
            }
            .btn {
                font-weight: 500;
                font-size: 0.8rem;
                text-align: center;
                padding: 5px;
                border-radius: 7px;
                cursor: pointer;
                background-color: #4CB5F9;
                color: white;
            }
            
        }    
    }
}

.separator{
    display: flex;
    width: 100%;
    gap: 20px;
    hr {
        color: #737373;
        margin-top: 0.3rem;
        flex-grow: 1;
        border: none;
    }
    .icon {
        font-weight: 600;
        color: #737373;
    }
}


.facebook-picture {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    picture {
    width: 25px;
    height: 25px;
    border-radius:2px ;
    display:flex ;
    align-items: center;
    justify-content: center;
    float: left;
    img {
        border: none;
    }
    }
    span {
        text-align: center;
        color: #3F5789;
        font-weight: 600;
    }
}

.footer-text {
    text-align: center;
    color: #262626;
    justify-content: center;
}

.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    .img-1 {
        width: 45%;
        height: auto;
    }
    .img-2 {
        width: 35%;
        height: auto;
    }
}